.block_needs_grading .card-body {
    background-color: #ffffff;
    height: 200px;
    width: 100%;
    padding: 0 !important;
    overflow-y: scroll; 
}

.block_needs_grading .card-title {
    display:none !important;
}

.block_needs_grading .ng-title {
    font-size: 18px;
    background-color: #4276c2;
    color: #ffffff;
    padding: 5px;
    padding-left: 15px;
}

.block_needs_grading .card-text {
    color: #000000;
    margin: 0 !important;
}

.block_needs_grading .coursename {
    font-weight: bold;
}

.block_needs_grading .coursename:hover {
    color: skyblue;
}

.block_needs_grading .ng-assigns {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

.block_needs_grading a {
    color: #000000;
}

.block_needs_grading .sum {
    background-color: #e0e2e4;
    padding:1px !important;
}

.block_needs_grading details:hover summary::-webkit-details-marker, -moz-box-shadow:hover {
    color:skyblue;
}

.block_needs_grading .ng-assignsingroup {
    font-weight: bold;
    color:#4276c2;
}

.block_needs_grading .ng-assignsingroup:hover {
    color:skyblue;
}
